@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  --color-base-100: oklch(25.33% .016 252.42);
  --color-base-200: oklch(23.26% .014 253.1);
  --color-base-300: oklch(0.21 0.01 254.13);
  --color-primary: oklch(58% .233 277.117);
  --color-error: oklch(71% .194 13.428);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
